.Header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index:1000;
    padding-left: 5%;
    top: 0;
    right: 0;
    left: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    height: 100%;
    width: 70%;
}
.menu-item{
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-weight: 600;
    text-transform: uppercase;
}
.right-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 6%;
    height: 100%;
    width: 20%;
    padding-right: 2%;
}
.menu-icon{
    width: 30px;
    height: auto;
    margin-top: -2%;
}

@media only screen and (max-width: 400px) {
    .Header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
.menu{
      display: none;
    }
    .right-menu{
        width: 70%;
    }
  }