.Section_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section_text,.section_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    
}
.section_text{
    margin-top: 5%;
}
.section_text  p{
    margin-top: 1%;
    height: 2%;
    font-size: 20px;
}
.section_button{
    gap: 10%;
}
.order,.inventory{
    width:280px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    font-size: 14px;

}
.section_2button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 2%;
    
}
.order{
    font-weight: 600;
    background-color: black;
    color: beige;
    opacity: 0.85;
}
.arrow{
    width: 40px;
    height: 40px;
}
.sidbar-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1233;
    gap: 1%;
    position: fixed;

}
.sidbar-close-icon{
width: 100%;
height: 10%;
color: black;

}
.close-icon{
    right: 3%;
    width: 28px;
    position: fixed;
    top: 2.5%;
    height: auto;
    cursor: pointer;
}
.sidbar-menu li{
width: 100%;
height:5%;
padding-left: 13%;
color: rgb(98, 96, 96);
font-weight: 600;
}

.menuclose{
    display: none;
}


@media only screen and (max-width: 400px) {
    .section_2button {
flex-direction: column;
gap: 8%;    }
  }