.Section_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section_text,.section_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    
}
.section_text  p{
    margin-top: -1%;
    height: 2%;
    font-size: 24px;
}
.section_button{
    gap: 10%;
}
.order,.inventory{
    width:280px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    font-size: 14px;

}
.section_2button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 2%;
    
}
.order{
    font-weight: 600;
    background-color: black;
    color: beige;
    opacity: 0.85;
}
.arrow{
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 400px) {
    .section_2button {
flex-direction: column;
gap: 8%;    }
  }